@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Display:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

i {
  color: #3db2ff;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1440px;
}

.about_section {
  padding: 50px 105px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.about_blue {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.15em;
  text-align: left;
  text-underline-position: from-font;
  color: rgba(61, 178, 255, 1);
}
.about_header {
  font-family: Inter;
  font-size: 45px;
  font-weight: 900;
  line-height: 60px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.about_just_lorem {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(110, 110, 110, 1);
}
.about_lorem_div {
  min-height: 120px;
  background-color: rgba(243, 243, 243, 1);
  padding: 35px;
  border-left: 12px solid rgba(61, 178, 255, 1);
}
.about_lorem_text {
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(110, 110, 110, 1);
}
.about_service_list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 20px;
  padding: 0;
  width: 100%;
  max-width: 600px;
  padding-top: 15px;
}

.about_service_list li {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(110, 110, 110, 1);
}

.about_media {
  height: 540px;
  width: 100%;
  max-width: 600px;
  position: relative;
}
.about_grey_block {
  width: 100%;
  max-width: 420px;
  height: 390px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(196, 196, 196, 1);
  z-index: -1;
}
.about_media_vid {
  width: 100%;
  max-width: 420px;
  height: 390px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: white;
}
.about_text {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 1310px) {
  .about_section {
    flex-direction: column;
  }

  .about_media {
    max-width: 100%;
  }

  .about_grey_block,
  .about_media_vid {
    max-width: 538px;
  }
  .about_text {
    max-width: 100%;
  }

  .about_service_list {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .about_section {
    padding: 25px 25px 50px 25px;
    gap: 50px;
  }
}

@media (max-width: 620px) {
  .about_section {
    padding: 15px;
  }

  .about_service_list {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 375px) {
  .about_section {
    padding: 25px 15px 50px 15px;
  }
  .about_media {
    max-width: 345px;
    height: 400px;
  }
  .about_grey_block,
  .about_media_vid {
    height: 250px;
    max-width: 300px;
  }

  .about_header {
    font-size: 35px;
    line-height: 45px; /* 128.571% */
  }
}

.check-icon {
  width: 20px;
  height: 23px;
}

.statistics_section {
  padding: 100px 105px;
  background-color: rgba(58, 58, 58, 255);
  display: flex;
  align-items: center;
  gap: 30px;
}
.statistics_left_blue {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.15em;
  text-align: left;
  color: rgba(61, 178, 255, 1);
}
.statistics_left_header {
  font-family: Inter;
  font-size: 45px;
  font-weight: 900;
  line-height: 60px;
  text-align: left;
  color: white;
}
.statistics_left_text {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: white;
}
.statistics_section_left {
  width: 100%;
  max-width: 600px;
}
.statistics_right_blue {
  font-family: Inter;
  font-size: 60px;
  font-weight: 900;
  line-height: 80px;
  text-align: left;
  color: rgba(61, 178, 255, 1);
}
.statistics_right_head {
  font-family: Inter;
  font-size: 25px;
  font-weight: 900;
  line-height: 35px;
  text-align: left;
  color: white;
}
.statistics_right_text {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: white;
}
.statistics_section_right {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.statistics_one {
  width: 250px;
}

@media (max-width: 1310px) {
  .statistics_section {
    flex-direction: column;
  }
  .statistics_section_left {
    max-width: 100%;
  }

  .statistics_section_right {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .statistics_section {
    padding: 50px 25px;
  }
  .statistics_section_right {
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  .statistics_section {
    padding: 50px 15px;
  }
  .statistics_left_header {
    font-size: 45px;
    line-height: 60px;
  }

  .statistics_right_blue {
    font-size: 45px;
    line-height: 58px; /* 128.889% */
  }
}

.services_section {
  padding: 100px 105px 50px 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.services_head_one {
  color: rgba(61, 178, 255, 1);
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.15em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.services_head_two {
  font-family: Inter;
  font-size: 45px;
  font-weight: 900;
  line-height: 60px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.services_head_three {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(110, 110, 110, 1);
}
.services_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 660px;
}
.services_div_text > h1 {
  font-family: Inter;
  font-size: 25px;
  font-weight: 900;
  line-height: 35px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 15px;
}
.services_div_text > p {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(110, 110, 110, 1);
}

.services_div {
  border: 2px solid rgba(61, 178, 255, 1);
  display: flex;
  flex-direction: column;
  padding: 35px;
  gap: 30px;
  width: 390px;
}

.services_div:hover {
  background-color: rgba(61, 178, 255, 1);
  color: white;
  transition: 500ms;
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.services_div:hover .services_img {
  filter: brightness(0) saturate(100%) invert(200%) sepia(100%) saturate(406%)
    /* hue-rotate(20deg)*/ brightness(106%) contrast(97%);
  transition: 500ms;
}

.services_div_text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.services_divs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.services_img {
  height: 52px;
}

@media (max-width: 1440px) {
  .div_one,
  .div_two {
    flex: 1.5 1 45%;
  }
  .div_three {
    flex: 2 1 100%;
  }
}

@media (max-width: 768px) {
  .services_section {
    padding: 50px 25px 25px 25px;
  }
}

@media (max-width: 620px) {
  .div_twos,
  .div_one {
    flex: 2 1 100%;
  }

  .services_div {
    width: 100%;
  }
  .services_section {
    padding: 15px;
  }
}

.map_section {
  width: 100%;
  padding: 50px 105px;
}
.map {
  width: 100%;
  max-width: 1230px;
  position: relative;
}

.map_img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.dot {
  position: absolute;
  width: 5%;
  height: 10%;
  background-color: rgba(61, 178, 255, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dot_img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.map_australia {
  top: 73%;
  left: 85%;
}
.map_africa {
  top: 39%;
  left: 46%;
}
.map_asia {
  top: 12%;
  left: 64.5%;
}
.map_south_america {
  top: 58%;
  left: 21%;
}
.map_north_america {
  top: 15.3%;
  left: 11.5%;
}

@media (max-width: 768px) {
  .map_section {
    padding: 25px;
  }
}

@media (max-width: 375px) {
  .map_section {
    padding: 15px;
  }
}

.choose_us_section {
  max-width: 1440px;
  padding: 50px 105px;
  display: flex;
  gap: 30px;
}

.choose_us_left {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.choose_us_left_text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.choose_us_blue_text {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.15em;
  color: rgba(61, 178, 255, 1);
}
.choose_us_heading {
  font-family: Inter;
  font-size: 45px;
  font-weight: 900;
  line-height: 60px;
}
.choose_us_text {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}
.choose_us_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.choose_us_list > .item {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(110, 110, 110, 1);
}
.choose_us_button {
  width: 180px;
  height: 65px;
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
  background-color: rgba(61, 178, 255, 1);
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  cursor: pointer;
}
.choose_us_play {
  width: 100%;
  max-width: 65px;
  height: 65px;
  background-color: rgba(61, 178, 255, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
.choose_us_buttons {
  display: flex;
  gap: 30px;
  align-items: center;
}
.choose_us_play_text {
  text-decoration: none;
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 87px;
  height: 25px;
  color: rgba(110, 110, 110, 1);
}

.choose_us_right {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.choose_us_div {
  background-color: rgba(61, 178, 255, 1);
  color: white;
  padding: 35px;
  display: flex;
  gap: 20px;
}

.choose_us_div:hover {
  background-color: white;
  color: rgba(61, 178, 255, 1);
  transition: 500ms;
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.choose_us_imgs {
  height: 52px;
  width: 52px;
  object-fit: contain;
}
.choose_us_right_header {
  font-family: Inter;
  font-size: 25px;
  font-weight: 900;
  line-height: 35px;
}
.choose_us_two {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (max-width: 1160px) {
  .choose_us_section {
    flex-direction: column;
  }

  .choose_us_left,
  .choose_us_right {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .choose_us_section {
    padding: 25px;
  }
}

@media (max-width: 375px) {
  .choose_us_section {
    padding: 15px;
  }

  .choose_us_two {
    gap: 15px;
  }

  .choose_us_div {
    flex-direction: column;
    gap: 25px;
  }
}

.pricing_section {
  width: 100%;
  max-width: 1440px;
  padding: 50px 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.pricing_up_blue {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.15em;
  text-align: center;
  color: rgba(61, 178, 255, 1);
}
.pricing_up_head {
  font-family: Inter;
  font-size: 45px;
  font-weight: 900;
  line-height: 60px;
  text-align: center;
  color: rgba(45, 45, 45, 1);
}
.pricing_up_text {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: rgba(110, 110, 110, 1);
}
.pricing_up {
  width: 100%;
  max-width: 660px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.pricing_down {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
}

.pricing_div {
  width: 390px;
  border: 2px solid rgba(61, 178, 255, 1);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 35px;
  justify-content: center;
  position: relative;
}

.pricing_div :hover {
  cursor: pointer;
}

.absolute_recommended {
  position: absolute;
  padding: 21px;
  text-align: center;
  width: 180px;
  height: 68px;
  color: #fff;
  background-color: #ffb830;
  top: -1px;
  right: -1px;
  display: none;
  transition: 0.5s;
}
.clicked_pricing_div {
  background-color: #3db2ff;
}
.clicked_pricing_div > .pricing_div_properties > .properties_text > h1 {
  color: white;
}
.clicked_pricing_div > .pricing_div_properties > .properties_text > p {
  color: white;
}
.clicked_pricing_div > .pricing_div_properties > .properties_price > h1 {
  color: white;
}

.clicked_pricing_div > .pricing_list > div > svg path {
  fill: white;
}

.clicked_pricing_div > .pricing_list > div {
  color: white;
}

.clicked_pricing_div > .pricing_btn_div > button {
  background-color: white;
  color: #3db2ff;
}

.line {
  height: 1px;
  background-color: #dadada;
}

.properties_text > h1 {
  font-family: Inter;
  font-size: 25px;
  font-weight: 900;
  line-height: 35px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(45, 45, 45, 1);
}
.properties_text > p {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(110, 110, 110, 1);
}
.properties_price > h1 {
  font-family: Inter;
  font-size: 60px;
  font-weight: 900;
  line-height: 80px;
  color: rgba(61, 178, 255, 1);
}
.pricing_properties {
  display: flex;
  flex-direction: column;
}
.pricing_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pricing_list > div {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(110, 110, 110, 1);
}

.pricing_btn {
  background-color: rgba(61, 178, 255, 1);
  width: 180px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  border: none;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .pricing_div_one,
  .pricing_div_two {
    flex: 1.5 1 45%;
  }
  .pricing_div_three {
    flex: 2 1 100%;
  }

  .pricing_div_three {
    align-items: start;
  }
}

@media (max-width: 768px) {
  .pricing_section {
    padding: 25px;
  }
}

@media (max-width: 620px) {
  .pricing_div_two,
  .pricing_div_one {
    flex: 2 1 100%;
  }

  .pricing_div {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .pricing_section {
    padding: 15px;
  }
}
